.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}

%text-align {
  text-align: center;
}
#drum-machine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid;
  margin: 120px auto 10px auto;
  width: 650px;
  padding: 30px;
  border-radius: 10px;
  background: lighten($color:silver, $amount: 10%)
}

.pad {
  //margin-left: 20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;

  //border: 1px solid;
}

.key-on  {
  text-align: center;
  padding-top: 40px;
  width: 100px;;
  height: 100px;
  background: blue;
  font-size: 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:active {
    background: yellow
  }
}

.key-off  {
  text-align: center;
  padding-top: 40px;
  width: 100px;
  height: 100px;
  background: blue;
  font-size: 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.control {
  //border: 5px solid red;
  width: 300px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  

  .power {
    @extend %text-align
  }

  #display {
    @extend %text-align;
    //display: inline-block;
    margin: 15px auto;
    background: silver;
    width: 70%;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;

    P {
      margin: 10px;

      
    }
  }
  
  .volume {
    @extend %text-align
  }

  .bank {
    @extend %text-align;
  }
}


.label {
  position: relative;
  display: inline-block;
  width:60px;
  height: 34px;

  input {
    opacity: 0;
    width:0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#2196F3;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

}

input:checked + .slider {
  background-color: silver;
}


input:checked + .slider:before {

  transform: translateX(-26px);
}


.volume-slider {
    width: 70%;
    height: 25px;
    background: red;
    outline: none;
    opacity: 2;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
    };

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
      margin-top: -4.2px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    };

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    };

    &:focus::-webkit-slider-runnable-track {
      background: #367ebd;
    }
    

  }
  